<% if(elementas.status !== "done") {%>
    <p style="background-color: turquoise">
        Autorius: <%= elementas.author %> </br>
        Pavadinimas: <%= elementas.title %>
    </p>
    </hr>
<% } %>
