<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<h1>Labas</h1>

    <% duomenys.forEach( (domuo) => { %>
        <%-include('partials/domuo.ejs', { elementas: domuo }) %>
    <% }) %>

<%-include('partials/footer.ejs')%>
</body>
</html>